node_modules
npm-debug.log
package.json.save
package-lock.json
yarn.lock
docs
dist
tmp
.DS_Store
coverage/lcov-report
coverage/coverage-summary.json
coverage/lcov.info
yarn-error.log
out.*
.idea/
.vscode
